body {
  margin: 0;
  padding: 0;
  color: #3a3838;
  font-size: 17px;
  font-family: sans-serif;
}

/**
 * APP
 */
.load-text {
  text-align: center;
  padding: .5em;
  margin: 0;
}
.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #218fe0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.header {
  padding: .5em;
  background-color: #218fe0;
  color: white;
  box-shadow: 6px 6px 13px 1px #9E9E9E;
}
.instructions-text {
  text-align: center;
  padding: .5em;
  margin: 0;
}
.container {
  width: 90%;
  max-width: 450px;
  margin: auto;
  padding: 1em 0 1em 0;
}

/**
 * LIST
 */
.list-item {
  width: 90%;
  margin: .75rem;
  border-radius: 5px;
  padding: .5em;
  background-color: #2C3E50;
  box-shadow: 6px 6px 13px 1px #9E9E9E;
}
.list-item-text {
	padding: .5em;
	color: white;
}
.delete-button {
  float: right;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  background-color: #FF5722;
}

/**
 * ADD
 */
#type {
  background-color: white;
}

/**
 * TODOS/GOALS
 */
.block {
 	padding: .5em;
}
.list-heading {
 	margin: auto;
}
.add-container {
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: .5em;
}
.add-field {
  padding: .5em;
  border: 1px solid #bdc5ce;
  background-color: #bdc5ce59;
  display: block;
  width: -webkit-fill-available;
  border-radius: 5px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.add-button {
  width: 45%;
  margin: 1em;
  border: none;
  border-radius: 5px;
  background-color: #27AE60;
  color: white;
  padding: 0.5em;
  -webkit-box-shadow: 2px 3px 9px 0px #9E9E9E;
  box-shadow: 2px 3px 9px 0px #9E9E9E;
}


